Repository cyberbotics/webots, pull requests merged in 2024-08, with the labels that each got.

#6600 Fix CI test suite failure with display.wbt on ubuntu-latest
  tests/api/controllers/display/display.c
  tests/lib/ts_assertion.h
Labels: test suite

#6608 Fix slow source testing
  .github/workflows/tests_sources.yml
Labels: test sources

#6609 Fix-test-sources-to-work-locally
  scripts/converter/convert_nue_to_enu_rub_to_flu.py
  tests/sources/test_clang_format.py
  tests/sources/test_cppcheck.py
  tests/sources/test_header_version.py
  tests/sources/test_textures.py
Labels: test sources

#6606 Fixed bug radar.py
  docs/reference/changelog-r2024.md
  lib/controller/python/controller/radar.py
Labels: bug

#6605 Improve sound support for external controller (#6591)
  docs/reference/changelog-r2024.md
  docs/reference/speaker.md
  src/controller/c/speaker.c
  src/webots/nodes/WbSpeaker.cpp
  src/webots/nodes/WbSpeaker.hpp
  src/webots/sound/WbSoundClip.cpp
  src/webots/sound/WbSoundClip.hpp
Labels: bug

#6618 Fix unitialized sliding friction when using asymmetric rolling friction.
  docs/reference/changelog-r2024.md
  src/webots/engine/WbSimulationCluster.cpp
  tests/physics/controllers/rolling_friction_supervisor/rolling_friction_supervisor.c
Labels: test suite

#6614 Allow Indirect Field Accesses in Proto Templates
  docs/reference/changelog-r2024.md
  docs/reference/javascript-procedural-proto.md
  docs/reference/lua-procedural-proto.md
  src/webots/vrml/WbProtoModel.cpp
  src/webots/vrml/WbProtoModel.hpp
  tests/protos/controllers/template_indirect_field_access/.gitignore
  tests/protos/controllers/template_indirect_field_access/Makefile
  tests/protos/controllers/template_indirect_field_access/template_indirect_field_access.c
  tests/protos/protos/TemplateIndirectFieldAccess.proto
  tests/protos/protos/TemplateIndirectFieldAccessLua.proto
  tests/protos/worlds/template_indirect_field_access.wbt
  tests/protos/worlds/template_indirect_field_access_lua.wbt
Labels: test suite

#6617 Fix incomplete loading while minimized under some windowing systems.
  docs/reference/changelog-r2024.md
  include/wren/scene.h
  src/webots/gui/WbView3D.cpp
  src/webots/gui/WbView3D.hpp
  src/webots/gui/WbWrenWindow.cpp
  src/webots/gui/WbWrenWindow.hpp
  src/webots/nodes/utils/WbVirtualRealityHeadset.cpp
  src/webots/wren/WbWrenCamera.cpp
  src/webots/wren/WbWrenPicker.cpp
  src/wren/Scene.cpp
  src/wren/Scene.hpp
  src/wren/Viewport.cpp
  src/wren/demo/default.cpp
  src/wren/demo/phong.cpp
Labels: test suite

#6622 Make supervisor_export_image use FBO instead of screen framebuffer.
  docs/reference/changelog-r2024.md
  include/wren/scene.h
  src/webots/gui/WbView3D.cpp
  src/webots/gui/WbWrenWindow.cpp
  src/wren/Scene.cpp
  src/wren/Scene.hpp
  tests/Makefile
  tests/api/controllers/billboard/.gitignore
  tests/api/controllers/billboard/Makefile
  tests/api/controllers/billboard/billboard.c
  tests/api/controllers/supervisor_export_image/.gitignore
  tests/api/controllers/supervisor_export_image/Makefile
  tests/api/controllers/supervisor_export_image/supervisor_export_image.c
  tests/api/worlds/billboard.wbt
  tests/api/worlds/supervisor_export_image.wbt
  tests/test_suite.py
  tests/with_rendering/.gitignore
  tests/with_rendering/Makefile
  tests/with_rendering/controllers/.gitignore
  tests/with_rendering/controllers/Makefile
  tests/with_rendering/worlds/.gitignore
  tests/with_rendering/worlds/.supervisor_export_image.wbproj
Labels: test suite

#6623 Bump the Qt version from 6.4.3 to 6.5.3.
  dependencies/Makefile.linux
  dependencies/Makefile.mac
  docs/reference/changelog-r2024.md
  scripts/install/linux_compilation_dependencies.sh
  scripts/install/linux_runtime_dependencies.sh
  scripts/install/qt_linux_installer.sh
  scripts/install/qt_mac_installer.sh
  scripts/packaging/linux_distro.py
Labels: test suite

#6629 Remove and ignore epuck.urdf file created by test.
  tests/api/controllers/robot_urdf/.gitignore
  tests/api/controllers/robot_urdf/epuck.urdf
Labels: test suite

#6628 Add msys2 package that includes CA certificates.
  docs/reference/changelog-r2024.md
  scripts/install/msys64_installer.sh
Labels: test suite

#6635 Mostly MacOS-related fixes
  docs/reference/changelog-r2024.md
  projects/robots/gctronic/e-puck/plugins/remote_controls/e-puck_bluetooth/Serial.cpp
  scripts/install/qt_mac_installer.sh
  src/controller/c/robot.c
  src/webots/gui/WbRenderingDeviceWindow.cpp
  src/webots/nodes/WbRobot.cpp
  src/webots/wren/WbWrenCamera.cpp
  tests/api/controllers/robot_urdf/robot_urdf.c
  tests/test_suite.py
Labels: test webots build

#6638 Fix bugs (introduced in PR #6622) when grabbing/recording with devicePixelRatio != 1.
  src/webots/gui/WbVideoRecorder.cpp
  src/webots/gui/WbWrenWindow.cpp
Labels: test suite

#6640 Fix-to-include-system-openal
  dependencies/Makefile.linux
  scripts/install/linux_compilation_dependencies.sh
  src/webots/Makefile
Labels: test distribution, test suite

#6645 Fix failure of supervisor_start_stop_movie introduced by PR #6623.
  src/webots/gui/WbVideoRecorder.cpp
  src/webots/launcher/webots-linux.sh
Labels: test suite

#6644 Fix-mirror-crash-under-wayland
  src/webots/gui/WbRenderingDeviceWindow.cpp
Labels: test suite

#6631 Fix-test-suite-not-run-on-macos
  .github/workflows/test_suite_mac.yml
  src/webots/gui/main.cpp
  tests/default/controllers/test_suite_supervisor/test_suite_supervisor.py
  tests/physics/controllers/determinism/determinism.c
  tests/test_suite.py
Labels: test suite, test suite mac
